//Table
.custom-table {
  width: 95%;
  background: rgba(131, 131, 131, 0.108);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow:  20px 20px 60px rgba(0, 0, 0, 0.2),
              -20px -20px 60px rgba(255, 255, 255, 0.2);

}
.table-header {
  font-weight: bold;
  background-color: #d6d0c8;
}

ion-chip {
  --background: #00213f;
  --color: #adefd1;
}

ion-content {
  --background: url('https://img.freepik.com/free-vector/minimal-cat-background-line-art-illustration-vector_53876-151371.jpg')  center center / cover;
}

.table-header .header-cell {
  padding: 10px;
  border: 1px solid #000000;
  background-color: #c2b7a8;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.table-row:nth-child(even) {
  background-color: #ded0c0;
  border-radius: 5px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.table-row .ion-col {
  padding: 10px;
}

.table-row .ion-col:first-child {
  border-left: none;
}

.table-row .ion-col:last-child {
  border-right: none;
}



//search
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-searchbar {
  --background: #9f9282;
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  --border-radius: 10px;
  width: 30%;
}

ion-item{
  width: 15%;
  border-radius: 10px;
  --background: #d6c3ad;
  height: 45px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ion-button {
  --background: #9f9282;
}